body{
    background-color: #00b8ff;
    text-align: center;
    font-family:serif;
    font-size:larger;
}

::-webkit-input-placeholder{
    text-align: center;
    font-size:larger;
}

input{
    text-align: center;
}



